* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.top-nav-container {
  grid-area: top-navbar;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  height: 100%;
  margin-left: 0;
}

.aside-nav-container {
  grid-area: aside-nav;
  box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: 2;
}

.carousel-container {
  display: grid;
  grid-area: carousel-section;
  grid-template-columns: 1fr;

  /* background-color: black; */
}

.content-title {
  /* background-color: grey; */
  margin-top: 50px;
  padding-left: 40px;
  margin-left: 20px;
  grid-area: content-title;
}

.content-container {
  /* background-color: black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 20px;
  padding-bottom: 80px;
  grid-area: content-section;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "aside-nav top-navbar top-navbar"
    "aside-nav carousel-section carousel-section"
    "aside-nav content-title content-title"
    "aside-nav content-section content-section";
}

/* Top Navigation */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  font-size: 13px;
}

.top-nav .logo {
  display: flex;
  width: 130px;
  margin-right: 40px;
}

.top-nav ul {
  align-items: center;
  display: flex;
}

.top-nav ul li {
  color: #424242;
  margin-left: 40px;
  font-size: 13pt;
  padding: 0 10px;
}

.top-nav ul li i {
  font-size: 20px;
}

.top-nav ul li input {
  background: #fff;
  margin-left: 80px;
  padding: 0 20px;
  border: 1px solid #cacaca;
  width: 350px;
  height: 43px;
  border-radius: 35px;
}

/* Aside Navigation */
.profile-container {
  text-align: center;
  margin: 60px auto;
}

.profile-container img {
  width: 140px;
  height: 140px;
  border-radius: 70%;
}

.profile-container h3 {
  margin-top: 20px;
}

.aside-nav {
  width: 300px;
  display: block;
}

.aside-nav ul li {
  margin: 20px 0px 30px 30px;
  text-align: left;
  font-size: 13pt;
  font-weight: 520;
}

.aside-nav ul li a:hover {
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px solid #ccc;
}

.menu-btn {
  cursor: pointer;
  position: relative;
  top: 20px;
  left: 250px;
}

.menu-btn i {
  font-size: 18pt;
}

/* carousel container */

/* test */

.card-carousel-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  /* background: rgb(7, 62, 214); */
}

.carousel-card {
  border-radius: 15px;
  width: 66%;
  height: 250px;

  margin-right: 10px;
  background: #ccc;
  counter-increment: carousel-card;
}

/* test */

/* .carousel-card {
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 100px;
  width: 280px;
  border-radius: 20px;
}

.carousel-image-card img {
  height: 180px;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

*/

.carousel-image-card img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  position: relative;
  z-index: 0;
}

.carousel-text {
  width: 100%;
  position: absolute;
  top: 106px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  padding: 40px;
  border-radius: 0px 0px 15px 15px;
}

.carousel-text p {
  margin-top: 10px;
}
/* Content Section */

.card-container {
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 280px;
  border-radius: 20px;
}

.card-container img {
  height: 180px;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-text-container {
  padding: 10px 32px;
}

.card-text-container h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* media 700px */
@media screen and (max-width: 700px) {
  .content-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .top-nav-container {
    display: none;
  }

  .aside-nav-container {
    display: none;
  }

  .carousel-container {
    display: none;

    /* background-color: black; */
  }
}
